{% extends 'base.html.twig' %}

{% block body %}
    {% include 'menu.html.twig' %}

    <div id="content" class="span10" style="min-height: 385px;">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#">Dados do Invocador</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#"></a></li>
        </ul>
    <div class="row-fluid">
        <form class="form-search" name="teste" method="POST" action="summonerIndex">
            <div class="box-header span11 greenDark" style="text-align: center">
                <strong>Pesquisar Invocador</strong>
            </div>
            <div class="controls">
                <div class="input-append span11">
                    <input id="name" name="name" class="span11" type="text"
                           style="height: 34px;  width: 95.2%!important;"
                           value="{% if summonerName is defined %}{{ summonerName }} {% endif %}"/>
                    <input class="btn" type="submit" style="float: right;">Invocar!</input>
                </div>
            </div>
        </form>

        <div class="conteudo">

            {% block content %}
            {% endblock %}
        </div>
        </div>
        <hr>
    </div>
{% endblock %}