<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html"><span>LoLNooB</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> Home
                        </a>
                    </li>
                    <!-- start: Notifications Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> Champions
                        </a>
                    </li>
                </ul>
            </div>

            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a class="dropmenu" href="/"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dados Invocador</span>

                            {% if post == true %} <span class="label label-important">4</span>{% endif %}</a>
                        {% if post == true %}
                        <ul>
                            <li class="list-summoner"><a class="submenu" href="#"><i class="icon-tasks"></i><span
                                            class="hidden-tablet"> Ligas</span></a></li>
                            <li class="list-history"><a class="submenu"  href="#"><i class="icon-file-alt"></i><span
                                            class="hidden-tablet"> Histórico de Partidas</span></a></li>

                            <li><a class="submenu" href="submenu3.html"><i class="icon-eye-open"></i><span
                                            class="hidden-tablet"> Runas</span></a></li>
                            <li><a class="submenu" href="submenu3.html"><i class="icon-eye-open"></i><span
                                            class="hidden-tablet"> Talentos</span></a></li>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            &lt;div class="alert alert-block span10"&gt;
            &lt;h4 class="alert-heading"&gt;Warning!&lt;/h4&gt;
            &lt;p&gt;You need to have &lt;a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank"&gt;JavaScript&lt;/a&gt;
            enabled to use this site.&lt;/p&gt;
            &lt;/div&gt;
        </noscript>

        <!-- start: Content -->

        <!-- end: Content -->
    </div><!--/#content.span10-->
